body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705393/Assets/main_jjgwws.png);
}
p{
    margin: 0;
    padding: 0;
}
/* Motors After Sale/ Owner Registration*/
.motors-as-header{
    height: fit-content;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705403/Assets/motors-as-header_xdiwoa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    display: flex;
    padding: 6rem 0rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
.motors-as-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.motors-as-header > p {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    z-index: 3;
}
.motors-as-form{
    display: flex;
    flex-direction: column;
    margin: 0rem 15rem 2rem 15rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.motors-as-form-header-text{
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
}
.motors-as-row{
    display:flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.motors-as-row > input{
    width: 40%;
    padding: 0.7rem;
}
.motors-as-form input{
    border: 1px solid #818181;
    background: transparent;
    border-radius: 0.2rem;
}
.motors-as-form input::placeholder{
    padding: 0.2rem 0.3rem;
    font-weight: 500;
}
.motors-as-form-green-text{
    color: #129347;
    margin-bottom: 0.5rem;
}
.motors-as-input-date{
    margin-bottom: 2rem;
    width: 40%;
    padding: 1rem;
}
.motors-as-row.vd > input{
    width: 30%;
}
.motors-as-form > button{
    width: fit-content;
    padding: 1rem 4rem;
    display: flex;
    align-self: center;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 0.3rem;
    background-color: #129347;
    cursor: pointer;
}
@media screen and (max-width:950px){
    /* .motors-as-header{
        height: 500px;
    } */
    /* .motors-as-header > p {
        font-size: 3.5rem;
        padding: 2rem 3rem;
    } */
    /* .motors-as-form{
        margin: 0 2rem 4rem 2rem;
        padding: 2rem;
    } */
    .motors-as-header > p {
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .motors-as-form{
        margin: 0 0 3rem 0;
        padding: 2rem 0.5rem;
        border-radius: 0;
        box-shadow: none;
    }
    .motors-as-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .motors-as-input-date{
        width: 100%;
        padding: 1rem 0;
    }
    .motors-as-row > input{
        width: 100%;
        margin: 0; 
        padding: 1rem 0;
        margin-bottom: 1.5rem;
    }
    .motors-as-row.vd > input{
        width: 100%;
    }
}
/* Motors After Sale/ Owner Registration*/

/* Spare Parts */
.spare-parts-header{
    height: fit-content;
    padding: 3rem 1rem 3rem 6rem;
    display: flex;
    flex-direction: column;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705410/Assets/spare-parts_wvegcp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: flex-start;
}
.spare-parts-header > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
}
.spare-parts-header > p:last-of-type{
    font-size: 2rem;
    font-weight: 400;
    max-width: 900px;
    margin-bottom: 2rem;
    text-align: justify;
}
.spare-parts-header > a{
    display: flex;
    color: white;
    background-color: #129347;
    width: fit-content;
    padding: 1rem 4rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
}
.spare-parts-content{
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 2rem 0rem;
    margin-bottom: 4rem;
}
.spare-parts-content > p:first-of-type{
    font-size: 2rem;
    align-self: center;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
}
.spare-parts-card-row{
    width: fit-content;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.spare-parts-card{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 0.3rem;
    width: 300px;
    height: 300px;
    padding: 1rem;
    margin: 1rem 0.5rem;
    border: 1px solid #129347;
}
.spare-parts-item-row{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
}
.spare-parts-item{
    width: 270px;
    margin: 1rem 0.5rem;
}
.spare-parts-item > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 0.5rem;
} 
.spare-parts-item > p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
@media screen and (max-width:800px){
    .spare-parts-header{
        align-items: center;
        padding: 2rem 0.5rem;
    }
    .spare-parts-header > p:first-of-type{
        font-size: 3rem;
        font-weight: 600;
    }
    .spare-parts-header > p:last-of-type{
        font-size: 1.5rem;
        width: fit-content;
    }
}
/* Spare Parts */

/* Accident Recovery */
.ar-header{
    height: 400px;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    /* padding:2rem 7rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1586163612/Assets/Accident_Recovery_Page-min_knfzty.jpg);
}
.ar-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.ar-header > p:first-of-type{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
}
.ar-layer-1 {
    padding: 2rem 6rem;
    height: fit-content;
    font-size: 1rem;
}
.ar-layer-1 > p{
    text-align: justify;
    width: auto;
    margin-bottom: 1.5rem;
}
.ar-layer-2{
    display: flex;
    height: fit-content;
    margin: 0rem 6rem 2rem 6rem;
    padding: 2rem 4rem;
    background-color: #002F14;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    justify-content: space-between;
}
.ar-layer-2-left{
    width: 45%;
    display: flex;
    align-self: center;
}
.ar-layer-2-left > p{
    font-size: 1rem;
    font-weight: 600;
}
.ar-layer-2-right{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.ar-layer-2-right > p:nth-child(1){
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.ar-layer-2-right > p:nth-child(2), .ar-layer-2-right > p:nth-child(3){
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.ar-layer-3{
    display: flex;flex-direction: column;
    margin: 0rem 6rem 4rem 6rem;
    justify-content: space-between;
}
.ar-layer-3-container{
    display: flex;
    justify-content: space-between;
}
.ar-layer-3-left{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.ar-layer-3-bold-text{
    display: flex;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.ar-layer-3-medium-text{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.ar-layer-3-left-info{
    font-size: 1rem;
    font-weight: 400;
}
.ar-layer-3-left-info > p{
    margin-bottom: 0.5rem;
}
.ar-layer-3-right{
    width: 45%;
}
.ar-layer-4{
    display: flex;
    height: 500px;
    margin: 0rem 6rem 2rem 6rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:900px){
    .ar-header {
        height: 250px;
        padding: 2rem 1rem;
        text-align: justify;
    }
    .ar-header > p:first-of-type {
        text-align: center;
        font-size: 1.5rem;
    }
    .ar-layer-1{
        padding: 1rem 0.5rem;
    }
    .ar-layer-1 > p {
        font-size: 1.3rem;
        width: auto;
    }
    .ar-layer-2{
        flex-direction: column;
        margin: 0 0 2rem 0;
        padding: 2rem 1rem;
    }
    .ar-layer-2-left, .ar-layer-2-right{
        text-align: center;
        width: 100%;
    }
    .ar-layer-2-right > p:nth-child(2), 
    .ar-layer-2-right > p:nth-child(3) {
        font-size: 3rem;
    }
    .ar-layer-3 {
        margin: 0 0 1rem 0;
        padding: 2rem 1rem 0rem 1rem;
    }
    .ar-layer-3-container{
        flex-direction: column;
    }
    .ar-layer-3-left,
    .ar-layer-3-right{
        width: auto;
        text-align: justify;
    }
    .ar-layer-3-left-info {
        font-size: 1.3rem;
    }
    .ar-layer-3-medium-text {
        font-size: 1.3rem;
    }
    .ar-layer-4{
        margin: 0;
        box-shadow: none;
        margin-bottom: 1rem;
    }
}

/* Accident Recovery */

/*Fleet Management**/
.fleet-header{
    height: fit-content;
    padding: 4rem 1rem;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705387/Assets/fleet-header_igb1ks.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fleet-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.fleet-header > p{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    max-width: 900px;
    z-index: 3;
}
.fleet-body{
    display: flex;
    flex-direction: column;
    margin: 5rem 8rem 2rem 8rem;
    text-align: left;
}
.fleet-body-bold{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.fleet-body-small{
    line-height: 2rem;
    margin: 0rem 0rem 0.6rem 0rem;
    display: flex;
}
.fleet-body-five{
    flex-direction: column;
}
.fleet-body-five > div {
    margin-left: 3rem;
}
.fleet-body-five > div > p{
    margin: 0rem 0rem 0.8rem 0rem;
    line-height: 2rem;
}
.fleet-number{
    margin-right: 0.8rem;
}
@media screen and (max-width:900px){
    .fleet-header{
        height: 300px;
    }
    .fleet-header > p{
        font-size: 2rem;
    }
    .fleet-body{
        margin: 0;
        padding: 2rem 1rem;
    }
    .fleet-body-bold{
        font-size: 1rem;
    }
}
/*Fleet Management**/
*+p, p{
    margin-top: 0 !important;
}
/*Body Refurbishment*/
.ref-header{
    min-height: 400px;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705403/Assets/motors-as-header_xdiwoa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
#ref-first{
    margin-bottom: 0rem;
    padding: 1rem 5rem 0rem 5rem;
    line-height: 2.3rem;
}
.ref-header > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
}
.ref-layer-one{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    margin-bottom: 2rem;
}
.ref-layer-one > p{
    line-height: 2.3rem;
    width: 45%;
    text-align: justify;
}
.ref-layer-two{
    background-color: #002F14;
    margin: 0rem 3rem 2rem 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
}
.ref-layer-two > p{
    width: 40%;
    color: white;
}
.ref-layer-two > div{
    width: 40%;
    color: white;
}
.ref-layer-two > p{
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.ref-layer-two > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.ref-layer-form-container{
    display: flex;
    justify-content: center;
    margin: 0rem 1rem 3rem 1rem;
}
.ref-layer-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    width: 935px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ref-layer-form > section{
    display: flex;
    flex-direction: column;
}
.ref-layer-form > section:first-of-type{
    margin-bottom: 3rem;
}
.ref-layer-form > section > p:first-of-type{
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}
.ref-layer-form-row{
    justify-content: space-between;
    display: flex;
    margin-bottom: 2rem;
}
.ref-layer-form-row > input,
.ref-layer-form > section input{
    width: 45%;
    padding: 0.8rem;
    border: 1px solid gray;
}
.ref-layer-form > section > textarea{
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid gray;
}
.ref-layer-form > button{
    width: fit-content;
    padding: 1rem 3rem;
    background-color: #129347;
    border-radius: 0.3rem;
    border: none;
    color: white;
}
@media screen and (max-width: 950px){
    .ref-header{
        padding: 1rem;
        font-size: 2rem;
    }
    .ref-header > p:first-of-type {
        font-size: 2rem;
    }
    .ref-header > p:last-of-type {
        font-size: 1rem;
        text-align: justify;
        max-width: auto;
    }
    .ref-layer-one {
        flex-direction: column;
        padding: 1rem;
    }
    .ref-layer-one > p {
        width: auto;
    }
    .ref-layer-two {
        margin: 0rem 0rem 3rem 0rem;
        padding: 1rem;
        flex-direction: column;
        min-height: auto;
    }
    .ref-layer-two > p, .ref-layer-two > div {
        width: auto;
        text-align: center;
    }
    .ref-layer-two > p{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .ref-layer-two > div{
        font-size: 2rem;
    }
    .ref-layer-form-container{
        margin: 0rem 0rem 2rem 0rem;
    }
    .ref-layer-form {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        width: 100%;
        box-shadow: none;
    }
    .ref-layer-form-row {
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .ref-layer-form-row > input, .ref-layer-form > section input {
        width: auto;
        margin-bottom: 1rem;
    }
    #ref-first{
        padding: 1rem;
        line-height: 2.3rem;
    }
}
/*Body Refurbishment*/


/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */


