body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705393/Assets/main_jjgwws.png);
}
p{
    margin: 0;
    padding: 0;
}
*+p{
    margin-top: 0 !important;
}
/* About Us */
.about-us-header{
    height: fit-content;
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1588384543/Assets/mandilas-web-bannerABOUT-US-min_vujtao.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in;
}
.about-us-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.about-us-header > p:nth-child(1){
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    z-index: 3;
}
.about-us-header > p:nth-child(2) {
    font-size: 2rem;
    font-weight: 500;
    max-width: 900px;
    text-align: center;
    line-height: 3rem;
    z-index: 3;
}
.about-us-who{
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem 1rem 5rem;
}
.about-us-more-text{
    padding: 0rem 5rem 3rem 5rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
}
.about-us-who-left{
    width: 45%;
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}
.about-us-who-left > p:first-of-type{
    font-size: 2rem;
    color: #129347;
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.about-us-who-right{
    width: 45%;
}
.about-us-who-right > img{
    width: 100%;
    object-fit: cover; 
    min-height: 100%;
}
.about-us-m-v{
    background-color: #E4E6E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 8rem;
    justify-content: space-between;
    border-radius: 0.4rem;
    margin: 0rem 5rem 5rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-us-m-v-item{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    padding: 0rem 5rem;
}
.about-us-m-v-item > img{
    width: 60px;
    height: 60%;
    object-fit: contain;
    margin-bottom: 2rem;
}
.about-us-m-v-item > p:nth-child(2){
    font-weight: 600;
    color: #129347;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.about-us-m-v-item > p:nth-child(3){
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}
.about-us-core{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}
.about-us-core > p:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    margin-bottom: 1.5rem;
}
.about-us-core > p:nth-child(2){
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.about-us-core-row{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    height: fit-content;
    justify-content: center;
}
.about-us-core-item{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    border: 1px solid #292929;
    background-color: white;
    border-radius: 0.4rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-us-core-item > img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 0.8rem;
}
.about-us-core-item > p{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.about-us-content-header{
    padding: 0rem 5rem 2rem 5rem;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us-content-header > p:first-of-type{
    width: 30%;
    flex: 1;
}
.about-us-content-header > p:last-of-type{
    max-width: 70%;
    flex: 2;
    background-color: black;
    height: 10px;
}
.about-us-ac{
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 2rem 5rem;
    padding: 5rem 4rem 2rem 4rem;
    font-size: 1rem;
    line-height: 2rem;
    background-color: #EBEBEB;
}
.about-us-ac-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.about-us-ac-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-us-ac-left > p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    margin-bottom: 3rem;
}
.about-us-ac-right{
    width: 45%;
}
.about-us-ac-right > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.about-us-ac-bottom{
    display: flex;
    flex-direction: column;
}
.about-us-ac-bottom > p{
    margin-bottom: 1rem;
}
.about-us-ac-bottom > p > span{
    color: #129347;
}
.about-us-properties{
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 2rem 5rem;
    padding: 5rem 4rem 4rem 4rem;
    background-color: #FFFFFF;
    font-size: 1rem;
    line-height: 2rem;
}
.about-us-properties > p:first-of-type{
    font-size: 2rem;
    color: #129347;
    font-weight: 600;
    margin-bottom: 3rem;
}
.about-us-properties-top{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.about-us-props-left{
    width: 45%;
}
.about-us-props-left > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.about-us-props-right{
    width: 45%;
    height: 100%;
}
.about-us-motors{
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 2rem 5rem;
    padding: 5rem 4rem 2rem 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #E2E2E2;
}
.about-us-motors-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.about-us-motors-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 2rem;
}
.about-us-motors-left > p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    margin-bottom: 3rem;
}
.about-us-motors-right{
    width: 45%;
    height: 350px;
}
.about-us-motors-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us-motors-bottom{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
.about-us-motors-bottom > div{
    margin-bottom: 1rem;
}
.about-us-motors-bottom > div > .motors-text-bold{
    color: #129347;
    font-weight: 600;
}
.about-us-after-sales{
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 2rem 5rem;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2);
}
.about-us-after-sales > p{
    font-size: 2rem;
    color: #129347;
    font-weight: 600;
    margin-bottom: 1rem;
}
.about-us-after-sales-content{
    display: flex;
    justify-content: space-between;
}
.about-us-after-sales-content > p{
    width: 45%;
    line-height: 2rem;
}
.about-us-after-sales-content > img{
    width: 45%;
    height: 350px;
    object-fit: cover;
}
@media screen and (max-width:900px){
    .about-us-header > p:nth-child(2){
        padding: 0;
        width: fit-content;
    }
    .about-us-who{
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .about-us-who-left{
        width: 100%;
    }
    .about-us-who-left > p:first-of-type{
        margin-bottom: 1.5rem;
    }
    .about-us-who-right{
        width: 100%;
        margin-bottom: 2rem;
    }
    .about-us-m-v{
        margin: 0rem 0rem 4rem 0rem;
        padding: 2rem 1rem;
        height: fit-content;
        flex-direction: column;
        box-shadow: none;
    }
    .about-us-m-v-item{
        width: 100%;
        padding: 0;
        margin-bottom: 2.5rem;
    }
    .about-us-core-row{
        width: 100%;
        justify-content: space-evenly;
    }
    .about-us-core-item{
        width: 40%;
        height: 300px;
        margin: 1rem;
    }
    .about-us-content-header{
        flex-direction: column;
        padding: 0rem 1rem;
    }
    .about-us-content-header > p:first-of-type{
        flex: 0;
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 0.5rem solid black;
    }
    .about-us-content-header > p:last-of-type{
        display: none;
    }
    .about-us-ac{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0;
    }
    .about-us-ac-top{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .about-us-ac-left{
        width: 100%;
    }
    .about-us-ac-left > p:last-of-type > br{
        display: none;
    }
    .about-us-ac-right{
        width: 100%;
        object-fit: contain;
    }
    .about-us-properties{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0;
    }
    .about-us-properties-top{
        flex-direction: column;
    }
    .about-us-props-left, .about-us-props-right{
        width: 100%;
    }
    .about-us-motors{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0;
    }
    .about-us-motors-top{
        flex-direction: column;
    }
    .about-us-motors-left, .about-us-motors-right{
        width: 100%;
    }
    .about-us-header > p:nth-child(1){
        font-size: 2.5rem;
    }
    .about-us-header > p:nth-child(2){
        font-size: 1.5rem;
        padding: 1rem;
    }
    .about-us-properties > p:first-of-type, 
    .about-us-who-left > p:first-of-type,
    .about-us-motors-left > p:first-of-type,
    .about-us-ac-left > p:first-of-type{
        font-size: 2rem;
    }
    .about-us-core-item > p{
        font-size: 1rem;
    }
    .about-us-after-sales{
        margin: 0;
        padding: 0;
    }
    .about-us-after-sales > p{
        padding-left: 1rem;
    }
    .about-us-after-sales-content{
        flex-direction: column;
        padding: 1rem;
    }
    .about-us-after-sales-content > img{
        width: auto;
        height: 500px;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    .about-us-after-sales-content > p{
        width: auto;
        text-align: justify;
    }
    .about-us-more-text{
        padding: 2rem 1rem;
    }
}
/* About Us */

/* History */
.history-header{
    height: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705414/Assets/about-us-header_moj8m6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.history-header > p{
    font-size: 3rem;
    font-weight: 600;
}
.history-content{
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem 4rem 3rem;
    padding: 3rem 3rem 0rem 3rem;
    background-color: #E4E6E6;
    font-size: 1rem;
    line-height: 2.3rem;
}
.history-content > img {
    margin-bottom: 3rem;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
.history-content > p{
    margin-bottom: 3rem;
    text-align: justify;
}
.history-top{
    display: flex;
    justify-content: space-between;
}
.history-top-left{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.history-top-left > p:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    margin-bottom: 3rem;
}
.history-top-right{
    width: 45%;
}
.history-top-right-image > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.history-awards{
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem 4rem 3rem;
    padding: 3rem 3rem 0rem 3rem;
    background-color: #E4E6E6;
    font-size: 1rem;
    line-height: 2.3rem;
}
.history-awards > p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    align-self: center;
    margin-bottom: 4rem;
}
.history-awards-columns{
    display: flex;
    justify-content: space-between;
}
.history-awards-columns-side {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1rem;
}
.history-awards-item{
    display: flex;
    margin-bottom: 2rem;
}
.history-awards-item > img{
    margin-right: 3rem;
}
.history-awards-item > p{
    font-weight: 600;
}
@media screen and (max-width:900px){
    .history-header > p{
        width: fit-content;
        text-align: center;
    }
    .history-content{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0rem;
        text-align: center;
    }
    .history-top{
        flex-direction: column;
    }
    .history-top-left{
        width: 100%;
        margin-bottom: 2rem;
    }
    .history-top-left > p:nth-child(1){
        text-align: center;
    }
    .history-top-right{
        width: 100%;
    }
    .history-top-right-image > img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .history-awards{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0rem;
    }
    .history-awards > p:first-of-type{
        line-height: 3.5rem;
        text-align: center;
        align-self: center;
        margin-bottom: 4rem;
    }
    .history-awards-columns-side{
        width: 100%;
    }
    .history-awards-item{
        width: fit-content;
    }
    .history-awards-columns{
        flex-direction: column;
        margin: 0;
    }
}
/* History */

/* Meet The Team */
.meet-team-header{
    height: 400px;
    display: flex;
    color: white;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1586163632/Assets/EVP_Page-min_aadyzi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    background-position: center;
    position: relative;
}
.meet-team-header::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.meet-team-header > p{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    z-index: 5;
}
.meet-team-row{
    min-width: 700px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.meet-team-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 1rem 2rem 3rem 2rem;
    align-items: center;
    cursor: pointer;
}
.meet-team-bold-text{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    text-align: center;
}
.meet-team-normal-text{
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.6rem;

}
.meet-team-item > img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0.6rem;
}
@media screen and (max-width: 800px){
    .meet-team-header > p{
        font-size: 3rem;
    }
    .meet-team-row{
        min-width: auto;
        margin: 0;
        align-items: center;
        flex-direction: column;
    }
    .meet-team-item{
        width: fit-content;
        margin: 0 0 1rem 0;
        padding: 1.5rem;
    }
    .meet-team-item > img{
        object-fit: contain;
    }
}
/* Meet The Team */

/* Meet The Team Modal */
.meet-modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.meet-modal-content{
    display: flex;
    width: 80%;
    height: 90%;
    background-color: white;
    position: relative;
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    justify-content: space-between;
}
.meet-modal-content-left{
    width: 40%;
    display: flex;
}
.meet-modal-content-left > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.meet-modal-content-right{
    width: 60%;
    padding: 2rem 3rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    overflow: auto;
}
.meet-modal-content-right > p:first-of-type{
    color: #129347;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.meet-modal-content-right > p:nth-child(2){
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
#meetModalClose{
    display: flex;
    font-size: 4rem;
    position: absolute;
    color: rgb(102, 99, 99);
    right: 1rem;
    top: -0.5rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
.meet-paragraph{
    margin-bottom: 1rem;
}
/*Scrollbar Width */
.green-scroll::-webkit-scrollbar {
    width: 5px;
  }
  /*Scrollbar Track */
  .green-scroll::-webkit-scrollbar-track {
    /* background: #E2E2E2; */
    background:transparent;
  }
  
  /*Scrollbar Handle */
  .green-scroll::-webkit-scrollbar-thumb {
    background:#129347;
    border-radius: 0.5rem; 
  }
@media screen and (max-width: 900px){
    .meet-modal-content{
        flex-direction: column;
        overflow-y: auto;
        width: 90%;
        height: 90%;
    }
    .meet-modal-content-left,
    .meet-modal-content-right{
        width: auto;
    }
    .meet-modal-content-right{
        padding: 1rem;
        overflow: unset !important;
    }
    .meet-modal-content-right > p:first-of-type{
        text-align: center;
    }
    .meet-modal-content-right > p:nth-child(2){
        text-align: center;
    } 
    #meetModalClose{
        font-size: 4rem;
        right: 1rem;
        top: -0.5rem;
    }
}
@media screen and (max-width: 800px){
    
}
/* Meet The Team Modal */

/**CSR**/
.csr-header{
    height: 500px;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705382/Assets/csr-header_qemmwj.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
}
.csr-header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.csr-header > p {
    z-index: 3;
}
.csr-header > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.csr-header > p:last-of-type{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    max-width: 800px;
}
.csr-body{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0rem 7rem;
}
.csr-row-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1.5px solid #129347;
    padding-bottom: 3rem;
    margin: 0rem 3rem 3rem 3rem;
}
.csr-row-1:last-of-type{
    border-bottom: none;
}
.csr-row-left{
    width: auto;
    display: flex;
    text-align: justify;
    align-items: center;
    order: 2;
}
.csr-row-left > p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.csr-row-right{
    width: auto;
    flex-wrap: wrap;
    order: 1;
    display: flex;
    justify-content: center;
}
.csr-row-right > img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    margin: 1rem;
}
/**CSR**/

@media screen and (max-width:1000px){
    .csr-header > p:first-of-type {
        text-align: center;
        font-size: 2rem;
    }
    .csr-header > p:last-of-type {
        width: 90%;
        text-align: center;
    }
    .csr-row-1{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .csr-row-left{
        width: auto;
    }
    .csr-row-right{
        width: auto;
        flex-wrap: wrap;
    }
    .csr-row-right > img{
        width: 30%;
        height: 200px;
        margin: 0.5rem;
    }
    .csr-body{
        padding: 0rem 1rem;
    }
}
@media screen and (max-width:550px){
    .csr-row-right{
        width: auto;
    }
    .csr-row-right > img{
        width: 100%;
        height: 200px;
        margin: 0rem;
        margin-bottom: 1rem;
    }
    .csr-row-1{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin: 0rem 1rem 1rem 1rem;
    }
}
/**CSR**/
/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */



