/* Homepage Footer */
.footer {
    padding: 2rem 0rem 1rem 2rem;
    display: flex;
    height: fit-content;
    background-color: #002F14;
    color: white;
    justify-content: space-around;
}
.footer a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.footer-logos{
    display: flex;
    flex-direction: column;
    width: 290px;
    position: relative;
}
.footer-logos > img{
    width: 150px;
    height: 150px;
    position: relative;
    top: -20px;
    display: flex;
}
.footer-logo{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.footer-logo.mobile{
    display: none;
}
.footer-logo > a{
    
}
.footer-logo > a > img {
    width: 40px;
    height: 40px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: fit-content;
}
.footer-topic{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.footer-topic > img{
    display: none;
}
.footer-links{
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* transition: height 1s ease-in, visibility 0.2s linear; */
}
.footer-links > a {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.copyright{
    color: white;
    height: 60px;
    display: flex;
    background-color: #405047;
}
.copyright > p {
    font-size: 0.9rem;
    position: relative;
    left: 30%;
    align-self: center;
}
@media screen and (max-width:950px){
    .footer{
        flex-direction: column;
        padding: 2rem 2rem;
        height: fit-content;
    }
    .footer-logos{
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
    }
    .footer-item{
        width: 100%;
        /* align-items: center; */
        margin-bottom: 1rem;
    }
    .footer-topic{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .footer-topic > img{
        display: flex;
        width: 30px;
        height: 25px;
        object-fit: cover;
    }
    .hide-footer-links{
        height: 0px;
        visibility: hidden;
     }
     .footer-logo{
         display: none;
     }
     .footer-logo.mobile{
        display: flex;
        align-self: center;
        margin-bottom: 1rem;
    }
}
/* Homepage Footer */