body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../Assets/main.jpg);
    overflow-x: hidden;
}
p{
    margin: 0;
    padding: 0;
}
/* Career Content Page*/
.career-header{
    height: 500px;
    background-image: url(../Assets/career-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
}
.career-header > p {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
/* .career-header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */
.career-body{
    background-color: white;
    margin:0rem 3rem;
    padding: 3rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.career-body-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.career-body-text{
    width: 47%;
    order: 1;
}
.career-body-image{
    display: flex;
    justify-content: center;
    width: 47%;
    order: 2;
}
.career-body-image > img{
    min-width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
}
.career-body-text{
    display: flex;
    flex-direction: column;
}
.career-body-text > p:first-of-type{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.career-body-text > p:last-of-type{
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
}
.career-body > a {
    text-decoration: none;
    width: fit-content;
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    color: white;
    background-color: #129347;
    margin-bottom: 8rem;
}
.career-body > p:last-of-type{
    text-align: center;
}
@media screen and (max-width:900px){
    .career-body{
        margin: 0;
        padding: 0.5rem;
    }
    .career-body-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .career-body-text > p:first-of-type {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
    .career-body-text{
        order: 2;
        width: auto;
        margin-bottom: 1rem;
    }
    .career-body-image{
        order: 1;
        width: auto;
        margin-bottom: 1rem;
    }
    .career-body > a{
        align-self: center;
        margin:0 0 2rem 0;
    }
    .career-body > p:last-of-type{
        margin-bottom: 2rem;
    }
}
/* Career Content Page*/



/* Job Description Page*/
.career-content-description{
    color: #313131;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 2rem 4rem 4rem 4rem;
    padding: 4rem 8rem 2rem 8rem;
    border-radius: 0.8rem;
    background-color: rgba(226, 230, 229, 0.7);
}
.career-content-description > p:first-of-type{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 4rem;
}
.career-content-desc-sub{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.career-content-desc-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.career-content-desc-item > p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 2.2rem;
}
.career-content-cta{
    font-size: 1.3rem;
    margin-bottom: 7rem;
    margin-top: 3rem;
}
.career-content-cta > span{
    color: #129347;
    font-weight: 600;
}
.career-content-deadline{
    font-size: 2rem;
    margin-bottom: 6rem;
}
.career-content-deadline > span{
    color: #129347;
    font-weight: 600;
}
@media screen and (max-width:1350px){
    
}
@media screen and (max-width:800px){
    .career-content-description{
        margin: 0 0 2rem 0;
        padding: 3rem 1rem 1rem 1rem;
        border-radius: 0;
    }
    .career-content-description > p:first-of-type{
        text-align: center;
        font-size: 2rem;
    }
    .career-content-cta {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .career-content-deadline{
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
}
/* Job Description Page*/

