body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705393/Assets/main_jjgwws.png);
}
p{
    margin: 0;
    padding: 0;
}

/**Carousel Header**/
#homepageCarousel .carousel-item {
    height: 500px;
    margin-bottom: 2rem;
}
.homepage-header{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.homepage-header.one{
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1586163547/Assets/Home_Page_Scroll_bar-min_bwjdkg.jpg);
}
.homepage-header.one::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.homepage-header.one > *{
    margin: 0rem 3rem 3rem 7rem;
    z-index: 2;
}
.homepage-header.one > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
}
.homepage-header.one > p:last-of-type{
    font-size: 1.5rem;
    line-height: 2.2rem;
    max-width: 900px;
}
.homepage-header.one > a{
    width: fit-content;
    padding: 1rem 4rem;
    border-radius: 0.3rem;
    color: white;
    text-decoration: none;
    background-color: #129347;
}
#homepageCarousel .carousel-indicators {
    bottom: 30px;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#homepageCarousel .carousel-indicators .active{
    background-color: #129347 !important;
}
/**Carousel Header**/

/**Content One**/
.homepage-content-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}
.homepage-content-one > * {
    margin-bottom: 1.5rem;
}
.homepage-content-one > p:first-of-type{
    font-size: 1.5rem;
}
.homepage-content-one > p:last-of-type{
    font-size: 3rem;
    max-width: 500px;
    color: #129347;
}
.homepage-content-one > a {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.3rem;
    border-bottom: 1.5px solid black;
}
/**Content One**/

/**Content Two**/
.homepage-content-two{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
}
.home-content-card{
    max-width: 400px;
    height: 350px;
    max-height: fit-content;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.home-content-card::after{
    content: '';
    position: absolute;
    height: 70%;
    left: 0;
    right: 0;
    background-color: #3131314f;
}
.home-content-card > img{
    position: relative;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.home-content-card-links{
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}
.home-content-card-links > a {
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    padding: 1.2rem 0rem;
    border: 1px solid #129347;
    height: 80px;
    color: #313131;
    background-color: white;
    text-decoration: none;
}
.home-content-card > p{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 0 1rem;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 600;
    z-index: 5;
}
/**Content Two**/

/**Logos**/
.homepage-content-logos{
    width: 100%;
    margin: 0 auto 4rem auto;
    overflow: hidden;
    max-width: 1300px;
    position: relative;
    background-color: #fff;
    border: none;
}
.homepage-content-logos::before{
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
    top: 0;
    left: 0;
}
.homepage-content-logos::after{
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}
.homepage-logos-container{
    animation: scroll 15s linear infinite;
    display: flex;
    width: calc(150px * 7);
    padding: 1.5rem 0rem;
}
.homepage-logos-container > img {
    width: 170px;
    min-width: 170px;
    height: 120px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
}
@keyframes scroll {
    0%{transform:translateX(0px)}
    100%{transform: translateX(calc(-200px * 7))}
  }
/**Logos**/

/**Testimonial Layer**/
.homepage-testimonials{
    color: white;
    background-color: #002F14;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 4rem 0rem;
    margin-bottom: 2rem;
}
.homepage-testimonials > p:first-of-type{
    font-size: 2rem;
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
}
.homepage-testimonials > p:nth-child(2){
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    max-width: 1024px;
    margin-bottom: 3rem;
    line-height: 2.3rem;
}
.testimonials-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.testimonial{
    max-width: 30%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}
.testimonial > p:first-of-type{
    font-size: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}
.testimonial > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    align-self: center;
}
.testimonial > p:last-of-type{
    background-color: white;
    color: #313131;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    align-self: center;
    font-size: 1rem;
    line-height: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
#testimonialCarousel .carousel-indicators{
    bottom: -40px;
}
/**Testimonial Layer**/

/**Promise Layer**/
.homepage-promise {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 1rem 0rem;
    margin-bottom: 3rem;
}
.homepage-promise > p:first-of-type{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.homepage-promise-content{
    display: flex;
    justify-content: center;
    padding: 0rem 5rem;
}
.homepage-promise-content-left{
    width: 50%;
}
.homepage-promise-content-left > img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.homepage-promise-content-right{
    width: 50%;
    line-height: 2.2rem;
}
.promise-bold{
    font-weight: 600;
}
/**Promise Layer**/

/**Awards Layer**/
.homepage-awards {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 5rem 0rem;
    padding: 3rem 5rem 0rem 5rem;
    background-color: #E2E2E2;
    font-size: 1rem;
    line-height: 2.3rem;
}
.homepage-awards > p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    align-self: center;
    margin-bottom: 4rem;
}
.homepage-awards-columns{
    display: flex;
    justify-content: space-around;
}
.homepage-awards-columns-side {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1rem;
}
.homepage-awards-item{
    display: flex;
    margin-bottom: 2rem;
}
.homepage-awards-item > img{
    margin-right: 3rem;
}
.homepage-awards-item > p{
    font-weight: 600;
}
/**Awards Layer**/

/**Homepage Events**/
.homepage-events{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.homepage-events-container{
    display: flex;
    justify-content: center;
}
.homepage-events > p:first-of-type {
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    margin-bottom: 2rem;
}
.homepage-event-card{
    max-width: 25%;
    margin:0rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.homepage-event-card > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.homepage-event-card > p:first-of-type{
    padding: 0.5rem 1rem;
    font-weight: 600;
}
.homepage-event-card > p:nth-child(3){
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.homepage-event-card > p:nth-child(4){
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    padding: 1rem 2rem 1rem 0rem;
}
/**Homepage Events**/


@media screen and (max-width: 900px){
    .homepage-header.one > *{
        margin: 0 0 1rem 0;
    }
    .homepage-header{
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .homepage-content-one,
    .homepage-content-two {
        margin-bottom: 1rem;
    }
    .homepage-header.one > p:first-of-type{
        font-size: 2rem;
    }
    .homepage-header.one > p:last-of-type{
        font-size: 1rem;
        line-height: 2rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .homepage-content-one > p:first-of-type {
        font-size: 1rem;
    }
    .homepage-content-one > p:last-of-type {
        font-size: 2rem;
    }
    .homepage-content-one > a {
        font-size: 1rem;
    }
    .homepage-content-two{
        flex-direction: column;
    }
    .home-content-card {
        max-width: 100%;
        margin: 0 0 2rem 0;
        border-radius: 0.5rem;
    }
    .homepage-content-logos::before,
    .homepage-content-logos::after{
        background: none;
    }
    .homepage-testimonials{
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }
    .testimonials-container{
        flex-direction: column;
    }
    .testimonial{
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .homepage-promise{
        padding: 0rem 1rem;
        margin-bottom: 2rem;
    }
    .homepage-promise > p:first-of-type{
        margin-bottom: 1rem;
    }
    .homepage-promise-content{
        flex-direction: column;
        padding: 0rem;
    }
    .homepage-promise-content-left{
        width: auto;
        margin-bottom: 1rem;
    }
    .homepage-promise-content-right{
        width: auto;
        padding: 0rem;
        margin-bottom: 0;
    }
    .homepage-awards{
        padding: 2rem 1rem;
        margin: 0 0 2rem 0rem;
    }
    .homepage-awards > p:first-of-type{
        line-height: 3.5rem;
        text-align: center;
        align-self: center;
        margin-bottom: 4rem;
    }
    .homepage-awards-columns-side{
        width: 100%;
    }
    .homepage-awards-item{
        width: fit-content;
    }
    .homepage-awards-columns{
        flex-direction: column;
        margin: 0;
    }
    .homepage-events-container{
        flex-direction: column;
    }
    .homepage-event-card{
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */
