body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705393/Assets/main_jjgwws.png);
}
p{
    margin: 0;
    padding: 0;
}
/* Location Content */
.location-header{
    height: 500px;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1586163521/Assets/Locations_Page-min_slqrxo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.location-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}
.location-header > p{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    text-align: center;
    z-index: 3;
}
.location-layer-1{
    display: flex;
    height: fit-content;
    margin: 0rem 3rem 0rem 3rem;
    background-color: #E2E2E2;
    padding: 2rem 3rem;
    justify-content: space-between;
}
.location-layer-1-big-green{
    font-size: 2rem;
    font-weight: 500;
    color: #129347;
    margin-bottom: 2.5rem;
}
.location-layer-1-left > div{
    margin-left: 2rem;
    width: 60%;
}
.location-layer-1-left > div > p{
    font-size: 1rem;
}
.location-layer-1-left{
    width: 45%;
}
.location-layer-1-right{
    width: 45%;
}
.location-layer-1-row{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.location-layer-1-row > p:first-of-type{
    font-weight: 600;
}
.location-layer-2{
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1586163518/Assets/Locations_Page_scroll-min_ugygdr.jpg);
    color: white;
    margin: 0rem 3rem 0rem 3rem;
    position: relative;
}
.location-layer-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}
.location-layer-2 > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 3;
}
.location-layer-2 > p:last-of-type{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    z-index: 3;
}
.location-bottom{
    padding: 3rem 3rem;
    height: fit-content;
    margin: 0rem 3rem 5rem 3rem;
    display: flex;
    background-color: #eee;
    justify-content: space-around;
}
.location-bottom-left{
    width: 40%;
}
.location-bottom-container{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.location-bottom-green{
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #129347;
    align-items: center;
}
.location-bottom-green > img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 2rem;
    margin-left: 2rem;
}
.location-bottom-normal{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.location-bottom-normal > p {
    margin-bottom: 0.3rem;
}
.location-bottom-bold{
    font-weight: 600;
}
.location-bottom-right{
    width: 40%;
}
@media screen and (max-width:900px){
    .location-layer-1{
        flex-direction: column;
        margin: 0 0 2rem 0;
        padding: 2rem 3rem;
    }
    .location-layer-1-left, .location-layer-1-right{
        width: 100%;
    }
    .location-layer-1-left > div{
        margin: 0;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .location-layer-2{
        margin: 0 0 2rem 0;
    }
    .location-layer-2 > p:last-of-type{
        font-size: 2rem;
    }
    .location-bottom{
        padding: 2rem 3rem;
        margin: 0 0 3rem 0;
        flex-direction: column;
    }
    .location-bottom-left, .location-bottom-right{
        width: 100%;
    }
    .location-bottom-container {
        align-items: center;
    }
    .location-bottom-green > img{
        display: none;
    }
    .location-bottom-normal{
        margin-left: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    .location-layer-1{
        padding: 1rem;
    }
    .location-layer-2{
        max-height: 300px;
    }
    .location-bottom{
        padding: 1.5rem 1rem;
        margin: 0 0 2rem 0;
    }
}
/* Location Content */

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */
