/*Navbar Update*/
.hometwo{
    display: flex;
    background-color: white;
    height: fit-content;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    color: #313131;
    position: relative;
    justify-content: space-around;
}
.hometwo-logo{
    width: 10%;
    min-width: 5%;
}
.hometwo-logo > img {
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
}
.hometwo-menu{
    display: flex;
    width: 55%;
    min-width: 70%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.3rem;
}
.hometwo-menu-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hometwo-menu-text > a{
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
}
.hometwo-menu-text p{
    margin-bottom: 0.5rem;
    text-align: center;
}
.hometwo-menu-text > img{
    width: 20px;
    height: 15px;
    object-fit: contain;
}
.hometwo-buttons {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.hometwo-buttons > button{
    padding: 0.8rem 0.3rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}
.hometwo-buttons > button:first-of-type{
    background: transparent;
}
.hometwo-buttons > button:last-of-type{
    background-color: #129347;
    color: white;
}
.hometwo-submenu{
    font-size: 1rem;
    width: fit-content;
    display: flex;
    position: absolute;
    top: 5rem;
    height: fit-content;
    flex-direction: column;
    padding: 0.5rem 2rem;
    z-index: 3;
    background-color: white;
    transition: height 1s ease-in;
}
.hometwo-submenu:first-of-type{
    border: 2px solid green;
}
.hometwo-submenu > a{
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: #999
}
.hometwo-submenu > a:hover{
    color: #666
}
.hometwo-submenu-hide{
   visibility: hidden;
}
.hometwo-toggle{
    display: none;
}
#hometwo-navbar-buttons{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: center;
}
button[data-target="#signUp"]{
    padding: 0.5rem 0.8rem;
}
@media screen and (max-width: 950px){
    .hometwo-menu-text > p, 
    .hometwo-buttons, 
    .hometwo-menu-text > a  {
        font-size: 1.3rem;
    }
    .hometwo-submenu{
        font-size: 1.2rem;
    }
    .hometwo{
        flex-direction: column;
        position: relative;
    }
    .hometwo-menu {
        /* display: flex; */
        flex-direction: column;
        width: auto;
        background-color: #DEF4F3;
        padding: 1rem;
        margin-top: 1rem;
        display: none;
    }
    .hometwo-buttons{
        padding: 0rem 0rem 1rem 0rem;
        background-color: #DEF4F3;
        margin: 0;
        flex-direction: column;
        display: flex;
    }
    #hometwo-navbar-buttons{
        display: none;
        flex-direction: column;
        width: auto;
    }
    .hometwo-buttons > button{
        width: 50%;
        cursor: pointer;
    }
    .hometwo-menu-text{
        flex-direction: row;
        justify-content: center;
        width: 250px;
        margin-bottom: 1rem;
    }
    .hometwo-menu-text > p{
        padding: 0.5rem 1rem;
    }
    .hometwo-submenu-hide{
        visibility: visible;
        height: 0px !important;
     }
    .hometwo-submenu{
        width: auto;
        position: relative;
        top: 0rem;
        flex-direction: column;
        padding: 0rem;
        z-index: 3;
        background-color: inherit;
        text-align: center;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
    }
    .hometwo-submenu:nth-of-type(1){
        border: 5px solid green;
    }
    .menu-about{
        height: 150px;
    }
    .menu-ac{
        height: 150px;
    }
    .menu-motors{
        height: 260px;
    }
    .menu-contact{
        height: 80px;
    }
    .hometwo-toggle{
        display: flex;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 2rem;
        top: 1rem;
        cursor: pointer;
    }
    .hometwo-toggle > img{
        width: 100%;
        height: 100%;
    }
    .hometwo-submenu-animate-hide{
        height: 0px;
        visibility: hidden;
    }
    .show-item{
        display: flex !important;
    }
    /* .hide-item{
        display: none !important;
    }    */
}
@media screen and (max-width: 800px){
    .hometwo-buttons > button{
        width: 90%;
    }
    .hometwo-buttons {
        padding: 0rem 0rem 1rem 0rem;
        background-color: #DEF4F3;
        margin: 0;
    }
    .hometwo-toggle {
        right: 0.5rem;
    }
    .hometwo-logo {
        width: 150px;
    }
}
/*Navbar Update*/


/* Login */
.homepage-modal{
    display: none;
    background-color: black;
}
.homepage-modal > div:first-of-type{
    max-width: 100vw;
}
.homepage-modal > .modal-dialog > .modal-content{
    width: 80vw;
    margin: 0 auto;
}
.sl-modal{
    display: flex;
    /* padding: 1rem; */
    justify-content: center;
    height: auto;
}
#login .sl-modal{
    height: 80vh;
}
.sl-content{
    display: flex;
    width: 100%;
    /* height: 90%; */
}
.sl-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-image: url(../Assets/login-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sl-content-left::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1293489a;
}
.sl-content-left > p {
    display: flex;
    font-size: 3.6rem;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 2;
    padding-left: 3rem;
}
.sl-content-left > img{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 180px;
    object-fit: contain;
}
.sl-content-right{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}
.sl-content-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.sl-content-item > label{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.sl-content-item > input{
    border: none;
    border-bottom: 1px solid #313131;
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 80%;
    transition: border 0.3s ease-in-out;
}
/* .sl-content-item > input:hover{
    border: 2px solid red;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
} */
.invalid-input{
    border: 1px solid red !important;
}
.sl-content-item > input:focus{
    outline: none;
}
.sl-buttons{
    display: flex;
    align-items: center;
    margin-top: 4rem;
}
.sl-buttons > button {
    font-size: 1.3rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.sl-buttons > button:first-of-type{
    padding: 1rem 3rem;
    background-color: #129347;
    color: white;
}
.sl-buttons > button:last-of-type{
    width: fit-content;
    color: #313131;
    background: transparent;
}
.sl-buttons > p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.sl-login-close{
    position: absolute;
    right: 4rem;
    font-size: 4rem;
    cursor: pointer;
    width: fit-content;
}
.sl-signup-close{
    position: absolute;
    right: 1rem;
    top: -1rem;
    font-size: 4rem;
    cursor: pointer;
    width: fit-content;
}
.sl-content-right > p{
    display: none;
}
@media screen and (max-width: 1000px){
    .sl-login-close, .sl-signup-close {
        position: absolute;
        right: 0.1rem;
        top: -5.5rem;
        cursor: pointer;
        width: fit-content;
    }
    .sl-modal {
        padding: 5rem 1rem;
        height: fit-content !important;
    }
    .sl-content{
        position: relative;
        top: 3rem;
    }
    .sl-content-left{
        display: none;
    }
    .sl-content-right > p{
        display: block;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        width: 40%;
        position: relative;
    }
    .sl-content-right {
        width: 100%;
        padding: 0;
        /* padding-left: 0rem; */
    }
    .sl-content-item > input {
        padding: 1rem 0rem 1rem 0rem;
        width: auto;
    }
    .sl-content-item {
        margin-bottom: 0.5rem;
    }
    .sl-buttons{
        flex-direction: column;
        margin-top: 2rem;
    }
    .sl-buttons > button:first-of-type{
        margin-bottom: 2rem;
        width: 100%;
    }
    .homepage-modal > .modal-dialog > .modal-content {
        width: 100%;
        margin: 0 auto;
    }
}
/* Login */

/* Sign Up */
.signup-agreement{
    display: flex;
}
.signup-agreement > input{
    margin-right: 2rem;
    padding: 0.5rem;
    border: 1px solid red;
    transition: transform 0.3s ease-in-out;
}
/* Sign Up */


/**Signed In buttons*/
.hometwo-signedin-buttons {
    align-items: center;
    width: 100%;
    justify-content: space-around;
    display: none;
}
.navbar-cart-container{
    display: flex;
    align-items: center;
    /* width: 90px; */
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.navbar-cart-container > .no-of-items {
    position: absolute;
    font-size: 0.8rem;
    background-color: #129347;
    width: fit-content;
    min-width: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -0.3rem;
    left: 1.7rem;
}
.hometwo-signedin-buttons > button{
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    background-color: red;
    color: white;
    cursor: pointer;
}
/**Message Toast*/
.showMessageToast{
    top: 0vh !important;
}
#messageToast{
    top: -100vh;
    display: flex;
    position: absolute;
    height: fit-content;
    padding: 2rem 0.5rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #129347;
    color: white;
    z-index: 9999;
    transition: top 0.5s ease-in-out;
}
#messageToast > p{
    font-size: 1.5rem;
}
/**Message Toast*/

/**Loader*/
.showLoader{
    display: flex !important;
}
#loader{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1293486c;
    z-index: 9999;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    margin: 7px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.removePadding{
    padding: 0 !important;
}
.acLoader{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 7000;
    display: none;
    align-items: center;
    justify-content: center;
}
.lds-dual-ring-green {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring-green:after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    margin: 7px;
    border-radius: 50%;
    border: 6px solid #129347;
    border-color: #129347 transparent #129347 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/**Loader**/  
@media screen and (max-width: 950px){
    .hometwo-signedin-buttons{
        font-size: 1.3rem;
        right: 1rem;
        flex-direction: column;
        align-items: center;
        width: auto;
        background-color: #DEF4F3;
        display: flex;
    }
    .hometwo-signedin-buttons > p, 
    .hometwo-signedin-buttons > div,
    .hometwo-signedin-buttons > button{
        margin-bottom: 1.5rem;
    }
    .hometwo-signedin-buttons > button{
        width: 60%;
    }
    .hometwo-signedin-buttons > div{
        width: 90px
    }
}

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */