body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705393/Assets/main_jjgwws.png);
}
p{
    margin: 0;
    padding: 0;
}
/* Main AC After Sales*/
.main-ac-as{
    display: flex;
    flex-direction: column;
    padding: 8rem 0 0 8rem ;
    height: 500px;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1583252288/Assets/aftersales_bg_n2egps.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 2rem;
}
.main-ac-as > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.main-ac-as > p:last-of-type{
    font-size: 3rem;
    font-weight: 500;
}
.main-ac-as-layer-1 {
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 2rem 5rem;
}
.main-ac-as-layer-1-left{
    width: 45%;
}
.main-ac-as-layer-1-right{
    width: 45%;
}
.main-ac-as-layer-2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: center;
    padding: 0 5rem 2rem 5rem;
}
.main-ac-as-layer-2-item {
    width: 340px;
    height: 450px;
    display: flex;
    position: relative;
    margin: 1rem;
    justify-content: center;
}
.main-ac-as-layer-2-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}
.main-ac-as-layer-2-item > p{
    position: absolute;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    bottom: 20px;
    text-align: center;
}
.main-ac-as-layer-3{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    padding: 3rem 3rem 3rem 4rem;
    margin-bottom: 2rem;
    color: white;
    background-color: #727272;
}
.main-ac-as-layer-3.two{
    background-color: #D6D6D6;
}
.main-ac-as-layer-3-left{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.main-ac-as-layer-3-left > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.main-ac-as-layer-3-left > p:last-of-type {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.main-ac-as-layer-3-left > a{
    border: none;
    background-color: white;
    padding: 1.5rem 5rem;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    text-decoration: none;
    width: fit-content;
    color: black;
}
.main-ac-as-layer-3-right{
    width: 45%;
    height: 400px;
}
.main-ac-as-layer-3-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-ac-as-layer-4{
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 3rem 3rem 3rem 4rem;
}
.main-ac-as-layer-4-left, 
.main-ac-as-layer-4-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 1rem;
    line-height: 2rem;
}
.main-ac-as-layer-4-right{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-ac-as-layer-4-right > p:first-of-type{
    font-weight: 600;
}
.main-ac-as-layer-4-left > p:first-of-type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.main-ac-as-layer-3.two{
    background-color: #9D9D9D;
}
@media screen and (max-width:950px){
    .main-ac-as-layer-1 {
        flex-direction: column;
        text-align: center;
    }
    .main-ac-as > p {
        text-align: center;
    }
    .main-ac-as-layer-1-left, 
    .main-ac-as-layer-1-right {
        width: 100%;
    }
    .main-ac-as-layer-3 {
        flex-direction: column;
        padding: 3rem 3rem 3rem 4rem;
    }
    .main-ac-as-layer-3-left, 
    .main-ac-as-layer-3-right {
        width: 100%;
    }
    .main-ac-as-layer-3-left{
        margin-bottom: 2rem;
        align-items: center;
    }
    .main-ac-as-layer-4{
        flex-direction: column;
        margin-bottom: 1rem;
        text-align: center;
    }
    .main-ac-as-layer-4-left,
    .main-ac-as-layer-4-right{
        width: 100%;
    }
    .main-ac-as-layer-4-right{
        top: 0;
    }
    .main-ac-as-layer-4-left > p:first-of-type {
        text-align: center;
    }
    .main-ac-as {
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0 0;
    }
    .main-ac-as > p:first-of-type{
        font-size: 3rem;
    }
    .main-ac-as > p:last-of-type{
        font-size: 2rem;
    }
    .main-ac-as-layer-1 {
        padding: 0 1rem 2rem 1rem;
    }
    .main-ac-as-layer-2 {
        flex-direction: column;
        padding: 0 0 2rem 0;
    }
    .main-ac-as-layer-2-item {
        width: auto;
        margin: 1rem;
    }
    .main-ac-as-layer-3 {
        padding: 0 1rem 2rem 1rem;
        text-align: center;
    }
    .main-ac-as-layer-3-left, 
    .main-ac-as-layer-3-right {
        padding: 2rem 0;
    }
    .main-ac-as-layer-3-left > p:first-of-type{
        font-size: 3rem;
    }
    .main-ac-as-layer-4-left > p:first-of-type{
        font-size: 3rem;
    }
    .main-ac-as-layer-4 {
        padding: 0 1rem 2rem 1rem;
    }
}
/*Main AC After Sales */

/*Main AC After Sales */
.as-header{
    min-height: 500px;
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705369/Assets/as-header_vskcjd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.as-header > p{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
.as-options-container{
    padding: 0rem 4rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-around;
}
.as-option {
    min-width: 300px;
    width: 500px;
    height: 350px;
    margin-bottom: 2rem;
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.as-option:nth-child(1){
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705369/Assets/as-mobility_zqxq9e.png);
}
.as-option:nth-child(2){
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1582705369/Assets/as-cooling_rqdsxw.png);
}
.as-option > a,
.as-option > p{
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

/**After Sales Mobility Modal**/
.as-mobility-modal{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(25, 39, 65, 0.8);
    display: none;
    justify-content: center;
    padding-top: 3rem;
}
.as-mobility-modal-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    border-radius: 0.3rem;
    padding: 2rem;
    position: relative;
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    justify-content: space-between;
}
.as-mobility-modal-content > i {
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: white;
}
.as-mobility-modal-content > p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5rem;
    color: white;
}
.as-mobility-modal-row{
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-around;
}
.as-mobility-modal-row > a,
.as-mobility-modal-row > p{
    cursor: pointer;
    text-decoration: none;
    flex: 1;
    margin: 0rem 1rem;
    padding: 3rem 1rem;
    text-align: center;
    color: #129347;
    background-color: white;
    font-weight: 600;
    border-radius: 0.8rem;
}
/**After Sales Mobility Modal**/
@media screen and (max-width:900px){
    .as-header{
        min-height: 300px;
    }
    .as-header > p{
        text-align: center;
    }
    .as-options-container{
        flex-direction: column;
        padding: 0;
        margin-bottom: 0;
    }
    .as-option{
        margin: 0 0 1rem 0;
        width: auto;
    }
    .as-mobility-modal-content{
        width: auto;
    }
    .as-mobility-modal-content > i {
        top: -1rem;
        right: 1rem;
    }
    .as-mobility-modal-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .as-mobility-modal-row > a, .as-mobility-modal-row > p {
        margin: 0rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
        width: auto;
        border-radius: 0.4rem;
    }
    .as-mobility-modal-content > p:first-of-type {
        margin-bottom: 1rem;
    }
}
/*Main AC After Sales */
