body{
    overflow-x: hidden;
}
p{
    margin: 0;
    padding: 0;
}

/*Navbar Update*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 0.5rem 0rem;
}
.navbar-logo{
    display: flex;
}
.navbar-logo > a {
    display: flex;
}
.navbar-logo > a > img{
    max-width: 150px;
    height: 80px;
    object-fit: cover;
}
.menu{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    width: 60%;
    justify-content: space-around;
    transition: height 0.3s linear;
}
.menu > .menu-item-one,
.menu > .menu-item-two{
    position: relative;
    font-weight: 600;
    text-align: center;
    display: flex;
    font-size: 1.1rem;
}
.menu-item-one > a {
    text-decoration: none;
    color: #313131;
    position: relative;
    top: -1rem;
}
.menu-item-one > a:hover {
    text-decoration: none;
    color: inherit;
}
.menu-item-two > p {
    margin: 0;
    margin-bottom: 1rem;
}
.menu-item-two{
    align-items: center;
    flex-direction: column;
}
.menu-item-two > img{
    width: 15px;
    height: 15px;
    position: relative;
}
.pre-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    position: relative;
    transition: height 0.3s linear
}
.post-auth{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    position: relative;
    transition: height 0.3s linear;
    font-size: 1.1rem;
}
.navbar-logout{
    padding: 1rem 1.5rem;
    background-color: red;
    color: white;
    border-radius: 0.3rem;
    border: none;
    font-size: inherit;
}
.cart-container{
    display: flex;
    position: relative;
}
.cart-container > p{
    position: absolute;
    right: 0;
}
.pre-auth-buttons{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.pre-auth-buttons > button{
    box-shadow: none;
    border: none;
    font-size: 1.1rem;
}
.navbar-login{
    background: transparent;
}
.navbar-register{
    padding: 1rem 1.5rem;
    background-color: #129347;
    color: white;
    border-radius: 0.3rem;
}
.no-of-items{
    position: absolute;
    font-size: 0.8rem;
    background-color: #129347;
    width: fit-content;
    min-width: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -0.3rem;
    left: 1.7rem;
}
.navbar-submenu{
    font-size: 1rem;
    display: flex;
    position: absolute;
    top: 5rem;
    flex-direction: column;
    z-index: 3;
    background-color: white;
    min-width: 255px;
    padding: 1rem;
    max-height: fit-content;
    visibility: hidden;
    transition: height 0.3s linear;
    z-index:30;
}
.navbar-submenu > a {
    display: flex;
    color: #999;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1.1rem;
}
.navbar-submenu > a:hover{
    color: #666;
    text-decoration: none;
}
.show-tooltip-desktop{
    visibility: visible!important;
}
.navbar-toggler{
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0rem;
    right: 2rem;
}
@media screen and (max-width: 950px) {
    .navbar-toggler{
        display: flex;
        top: 0rem;
        right: 1rem;
    }
    .fa.fa-3x.fa-bars,
    .fa.fa-3x.fa-close{
        font-size: 2.5rem;
    }
    .navbar-logo > a > img {
        max-width: 100px;
        height: 40px;
        margin-left: 1rem;
    }
    nav{
        flex-direction: column;
        overflow-y: hidden;
    }
    .menu{
        width: auto;
        flex-direction: column;
        margin-bottom: 0rem;
        overflow-y: hidden;
        height: 0px;
        padding: 0px;
        max-height: fit-content;
    }
    .menu-item-one,
    .menu-item-two{
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    .menu-item-two > img{
        position: absolute;
        right: 2rem;
        top: 0.5rem;
    }
    .menu-item-one > a{
        top: 0rem;
    }
    .menu-item-two > p{
        margin-bottom: 0rem;
    }
    .navbar-submenu{
        position: relative;
        flex-direction: column;
        top: 0rem;
        overflow: hidden;
        height: 1px;
        padding: 0rem;
        text-align: center;
    }
    .navbar-submenu > a{
        display: flex;
        justify-content: center;
    }
    .show-tooltip-desktop{
        height: 230px;
        padding: 1rem;
        overflow: hidden;
    }
    .pre-auth{
        flex-direction: column;
        overflow-y: hidden;
        height: 0px;
        padding: 0px;
        max-height: fit-content;
    }
    .post-auth{
        flex-direction: column;
        overflow-y: hidden;
        height: 0px;
        padding: 0px;
        max-height: fit-content;
    }
    .post-auth > p {
        margin-bottom: 1rem;
    }
    .post-auth-buttons > button{
        padding: 1rem 3.5rem;
    }
    .cart-container{
        margin-bottom: 1rem;
    }
    .logo{
        padding-bottom: 1rem;
    }
    .logo > a > img {
        max-width: 80px;
        height: 50px;
        position: relative;
        left: 1rem;
        top: 0.5rem;
    }
    .menu-show{
        height: 550px;
    }
    .auth-show{
        height: 200px;
        padding-top: 0.3rem;
    }
}
/*Navbar Update*/


/**Login Update**/
.modal{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.modal-content{
    position: relative;
    width: 85%;
    height: 85%;
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.4rem;
    animation-name: slideInFromTop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    justify-content: space-between;
}
.modal-content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;
}
.bgLogin{
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1583251064/Assets/login_img_2x_fnicwm.png);
}
.bgSignUp{
    background-image: url(https://res.cloudinary.com/mandilas/image/upload/v1583250914/Assets/signup_img_2x_gcymoh.png);
}
/* .modal-content-left::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1293489a;
} */
.modal-content-left > p:nth-child(1){
    font-size: 3.6rem;
    font-weight: 600;
    color: white;
    margin-left: 3.5rem;
    z-index: 2;
}
.modal-content-left > img{
    z-index: 2;
    width: 150px;
    height: 150px;
    margin-left: 3.5rem;
    position: relative;
}
.modal-content-right.register{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 2rem;
    overflow-y: auto;
}
.modal-content-right.login {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-self: center;
    padding: 2rem;
}
.modal-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.modal-row > label{
    font-size: 1.5rem;
}
.modal-row > input{
    border: none;
    border-bottom: 1px solid #313131;
    padding: 1.5rem 0rem 1.5rem 0rem;
    transition: border 0.3s ease-in-out;
    width: auto;
}
.action-buttons{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: fit-content;
}
.action-buttons > button:nth-child(1){
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    border: none;
    background-color: #129348;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.action-buttons > p:nth-child(2){
    align-self: center;
    font-size: 1.5rem;
    padding: 0rem 2rem;
}
.action-buttons > button:nth-child(3){
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}
.register-agreement{
    display: flex;
    margin-bottom: 2rem;
}
.closeModal{
    position: absolute;
    right: 1.5rem;
    top: -0.5rem;
    font-size: 3.5rem;
}
@media screen and (max-width: 970px){
    .modal-content{
        width: 95%;
        padding:3rem 0rem
    }
    .modal-content-left{
        display: none;
    }
    .modal-content-right.login{
        padding: 1.5rem;
        width: 100%;
    }
    .modal-content-right.register{
        padding: 1.5rem;
        width: 100%;
    }
    .action-buttons{
        align-self: center;
    }
    #loginModal > .modal-content{
        height: fit-content;
    }
}
@media screen and (max-width: 800px) {
    .modal-content-right.login, 
    .modal-content-right.register{
        padding: 1rem;
    }
    .action-buttons{
        width: 100%;
    }
    .action-buttons > button:nth-child(1),
    .action-buttons > button:nth-child(3) {
        padding: 0.7rem 1rem;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .action-buttons > p:nth-child(2) {
        align-self: center;
        font-size: 1.5rem;
        padding: 0rem 1rem;
    }
}
.invalid-input{
    border: 1px solid red !important;
}
@keyframes slideInFromTop{
    0%{ top: -100vh; opacity: 0;}
    100%{top: 0vh; opacity: 1;}
}
#nameContainer{
    cursor: pointer;
}
/**Login Update**

/**Signed In buttons*/
/* .hometwo-signedin-buttons {
    align-items: center;
    min-width: 350px;
    justify-content: space-around;
    display: none;
}
#nameContainer{
    cursor: pointer;
}
.navbar-cart-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.navbar-cart-container > .no-of-items {
    position: absolute;
    font-size: 0.8rem;
    background-color: #129347;
    width: fit-content;
    min-width: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: -0.3rem;
    left: 1.7rem;
}
.hometwo-signedin-buttons > button{
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    background-color: red;
    color: white;
    cursor: pointer;
} */

#infoToast{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #129348;
    z-index: 9999;
    transition: top 0.5s ease-in-out;
}
.showInfoToast{
    top: 0vh !important;
}
#infoToast > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}
/**Message Toast*/

/**Loader*/
.showLoader{
    display: flex !important;
}
#loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1293489a;
    filter: blur(0) !important;
    z-index: 9999;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    margin: 7px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.removePadding{
    padding: 0 !important;
}
.acLoader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}
.lds-dual-ring-green {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring-green:after {
    content: " ";
    display: block;
    width: 90px;
    height: 90px;
    margin: 7px;
    border-radius: 50%;
    border: 6px solid #129347;
    border-color: #129347 transparent #129347 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/**Loader**/  
/* @media screen and (max-width: 950px){
    .hometwo-signedin-buttons{
        font-size: 1.3rem;
        right: 1rem;
        flex-direction: column;
        align-items: center;
        width: auto;
        background-color: #DEF4F3;
        display: flex;
    }
    .hometwo-signedin-buttons > p, 
    .hometwo-signedin-buttons > div,
    .hometwo-signedin-buttons > button{
        margin-bottom: 1.5rem;
    }
    .hometwo-signedin-buttons > button{
        width: 60%;
    }
    .hometwo-signedin-buttons > div{
        width: 90px
    }
} */

/*Complain Text**/
.complain-text{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.complain-text > p:nth-child(1){
    font-size: 2rem;
    font-weight: 600;
    color: #129347;
    margin-bottom: 1rem;
}
.complain-text > p:nth-child(2){
    width: 60%;
    text-align: center;
    margin-bottom: 2rem;
}
.complain-text > a{
    font-size: 1rem;
    color: white;
    background-color: #129347;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0;
    padding: 1.5rem 4rem;
    text-decoration: none;
}
.complain-text > a:hover{
    color: white;
    text-decoration: none;
}
@media screen and (max-width:900px){
    .complain-text > p:nth-child(2) {
        width: 90%;
    }
}
/*Complain Text**/

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid#f00 1px !important;
} */